{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ uniName }} Dashboard</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <style>
    body {
      color: #961e64;
    }
    .main {
      background-image: url("{% static 'img/bg_students.bbae6663.jpg' %}");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    .inner-main {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      margin-top: 20px;
    }
    .btn-back {
      background-color: #dc3545;
      border: none;
    }
    .btn-back:hover {
      background-color: #c82333;
    }
    .btn-primary, .btn-danger {
      color: white;
    }
    .table {
      margin-top: 20px;
    }
    .table th {
      background-color: #961e64;
      color: white;
    }
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
      background-color: #f8f9fa;
    }
    .navbgcolor{
      background:#961E64 !important;
     
    }
  </style>
</head>
<body>
    <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbgcolor ">
    <div class="container text-white">
      <a class="navbar-brand" href="#">Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'uniUpdateForm' %}">Edit Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/university_login/" onclick="alert('You will be logged out.')">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="main p-5">
    <div class="container inner-main">
      <h2 class="text-center">{{ uniName }} Dashboard</h2>

      <div class="row mt-4">
        <div class="col-6">
          <h1>On-going Admissions</h1>
        </div>
        <div class="col-6 text-right">
          <a href="{% url 'uniNewAdmissions' %}" class="btn btn-danger">New Admissions</a>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Campus</th>
              <th>Session</th>
              <th>Program</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for admission in admissions %}
            <tr>
              <td>{{ admission.campus }}</td>
              <td>{{ admission.session }} {{ admission.start_date|date:"Y" }}</td>

              <td>{{ admission.program }}</td>
              <td>{{ admission.start_date }}</td>
              <td>{{ admission.end_date }}</td>
              <td>
                <button type="submit" class="btn btn-danger">Close Admissions</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <hr />

{% if messages %}
    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <ul class="list-unstyled">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
      <div class="row mt-4">
        
        <div class="col-6">

          <h1>Received Merit Lists</h1>
        </div>

      </div>


      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Session</th>
              <th>Program</th>
              <th>Department</th>
              <th>Status</th>
              <th>Students Required</th>
              <th>Students Applied</th>
              <th>Merit List</th>
            </tr>
          </thead>
          <tbody>
            {% for admission in admissions %}
            <tr>
              <td>{{ admission.session }} {{ admission.start_date|date:"Y" }}</td>

              
              <td>{{ admission.program }}</td>
              <td>{{ admission.departments }}</td>
              <td>
                {% if admission.no_of_shortlisted_students == admission.students_applied %}
                  Complete
                {% else %}
                  Incomplete
                {% endif %}
              </td>
              <td>{{ admission.no_of_shortlisted_students }}</td>
              <td>{{ admission.students_applied }}</td>
              <td>
                <a href="{% url 'download_merit_list' admission.university_name admission.departments %}" class="btn btn-primary">Download</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
